@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
colors {
  --color-theme-dark-orange: #d87d4a;
  --color-theme-dark: #101010;
  --color-theme-lightgray: #f1f1f1;
  --color-theme-gray: #cfcfcf;
  --color-theme-light: #fafafa;
  --color-theme-white: #ffffff;
  --color-theme-black: #000000;
  --color-theme-light-orange: #fbaf85;
}

@theme {
  --color-theme-dark-orange: #d87d4a;
  --color-theme-dark: #101010;
  --color-theme-lightgray: #f1f1f1;
  --color-theme-gray: #cfcfcf;
  --color-theme-light: #fafafa;
  --color-theme-white: #ffffff;
  --color-theme-black: #000000;
  --color-theme-light-orange: #fbaf85;
}
